$body-bg-color-light: #174471;
$button-color:#3c4043;
$white:#fff;
$button-hover-color:#174ea6;
$button-hover-bg:#F6F9FE;
$button-focus-border:#4285f4;
$black:#000;
$label:#ddd;
$detail-tag:rgb(196, 147, 57);
$description:#B1B0AC;
$title:#C7C1BA;
$title-span:#544C21;
$title-span-bg:#C4AF3D;
$link-color:#5C7FB8;
$container-bg:#F0F0ED;
$movie-card:#A9A8A3;