@import '../../../src/styles/colors.scss';

.button {
    align-items: center;
    appearance: none;
    background-color: $white;
    border-radius: 1.5rem;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 .1875rem .3125rem -0.0625rem, rgba(0, 0, 0, .14) 0 .375rem .625rem 0, rgba(0, 0, 0, .12) 0 .0625rem 1.125rem 0;
    box-sizing: border-box;
    color: $button-color;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    letter-spacing: .0156rem;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: .125rem 1.5rem;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.button:hover {
    background: $button-hover-bg;
    color: $button-hover-color;
}

.button:active {
    box-shadow: 0 .25rem .25rem 0 rgb(60 64 67 / 30%), 0 .5rem .75rem .375rem rgb(60 64 67 / 15%);
    outline: none;
}

.button:focus {
    outline: none;
    border: .125rem solid $button-focus-border;
}

.button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 .0625rem .1875rem 0, rgba(60, 64, 67, .15) 0 .25rem .5rem .1875rem;
}

.button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 .125rem .1875rem 0, rgba(60, 64, 67, .15) 0 .375rem .625rem .25rem;
}

.button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 .0625rem .1875rem 0, rgba(60, 64, 67, .15) 0 .25rem .5rem .1875rem;
}

.button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 .25rem .25rem 0, rgba(60, 64, 67, .15) 0 .5rem .75rem .375rem;
}

.button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 .0625rem .1875rem 0, rgba(60, 64, 67, .15) 0 .25rem .5rem .1875rem;
}